
:root {
  --gold: rgb(245, 207, 138);
  --light_gold: rgb(216, 198, 164);
  --just_pale: rgb(250, 234, 206);
  --background: linear-gradient(to right, rgb(7, 14, 16), rgb(2, 17, 20), rgba(0, 60, 77, 0.897));
  --whitish_blue: rgb(215, 225, 225);
  --button_glow: 0px 0px 5px 0px rgb(255, 255, 255);
  --transparent-enough: rgba(232, 236, 236, 0.068);
  --teal: rgb(134, 202, 160);
  --button_border: 2px solid rgba(106, 119, 117, 0.322);
  font-family: 'Bitter'Tahoma, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(215, 225, 225);
}
* {
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
h1 {
  font-size: 40px;
  color: var(--gold);
}

h2 {
  font-size: 30px;
  color: var(--teal);
}

h3 {
  font-size: 26px;
  color: var(--just_pale);
}

p {
  font-size: 20px;
  line-height: 1.5em;
  color: var(--whitish_blue);
}

a {
  color: rgb(240, 228, 209);
  text-decoration: none;
}

a:hover {
  color: var(--teal)
}

a:active {
  color: var(--gold);
}

/*body*********************************************************/
body {
  background-image:
    linear-gradient(to right, rgb(7, 14, 16), rgb(2, 17, 20), rgba(0, 60, 77, 0.897));
  text-align: center;
  width: inherit;
  margin: 0;
  padding: 0;
  height:100vh;
 
}
@media (min-width: 576px) {
  body {
      margin: 10px;
      padding: 10px;
  }

}
main {
  margin-bottom: 11em;
}

.emmet>section {
  margin: auto;
  padding: 1em;
  padding: 2em;
}

/*Nav*********************************************************/
nav {
  display: flex;
  flex-wrap: wrap;
  min-height: 30px;
  margin: auto;
  color: var(--teal);
  margin: auto;
  height: fit-content;
  padding: 2px;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
}
.secondary-nav {
  margin-top: 5px;
  margin-bottom: 6vh;
  background-color: rgba(240, 248, 255, 0.062);
  width: inherit;
}

ul {
  list-style-type: square;
}

nav>a,
.secondary-nav>a {
  font-weight: 400;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.1em;
  padding-bottom: 5px;
  border-bottom: solid rgba(255, 255, 255, 0);

}

footer {
  text-align: center;
  background-color: rgb(6, 24, 21);
  margin-top: auto;
  width: 100%;
  padding-top: 1em;
  height: fit-content;
  position: absolute;

}

html {
  scroll-behavior: smooth;
}

footer>a {
  margin: 10px;
}

/*figure*************************************************/
figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.903), 0 6px 20px 0 rgb(0, 0, 0);
  width: 40vh;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.intro-picture {
  background: var(--whitish_blue);
  margin-bottom: 20px;
  padding-left: inherit;
  padding-right: inherit;
  padding-top: 10px;
}

figure img {
  width: 40vh;
  height: auto;
  
}

figcaption {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 70%;
  padding-top: 1em;
  color: #01242b;
}

/**container***************************/
.about-me {
  display: flex;
  flex-direction: column;
}

.question p {
  font-weight: 800;
  color: var(--gold);
}

.outer_card {
  box-shadow: 1px -1px 9px 1px rgba(6, 5, 1, 0.985);
  background-color: var(--transparent-enough);
  text-align: left;
  padding: 15px;
  margin: 10px;
  width: inherit;
  border-radius: 5px;
}

.info, #info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: inherit;
  padding: 50px;

}

/*quick format***********************************************/

.indent {
  padding-left: 15px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/*table****************************************************/
.data ul {
  margin: auto;
  display: inline-block;
  text-align: left;
  line-height: 1.5;
}

table {
  text-align: left;
  background-color: black;
  border-style: solid;
  margin: auto;
}

.updated-table {
  text-align: left;
}

th,
td {
  padding: 15px;
}

figure .updated-table {
  margin: auto;
}

.updated-table {
  margin: auto;
}

.updated-table th {
  background-color: black;
  color: beige;
}

.updated-table tr:nth-child(even) {
  background-color: #c8dee0d8;
  color: black;
}

.updated-table tr:nth-child(odd) {
  background-color: rgb(245, 238, 233);
  ;
  color: black;
}

.simple-table {
  margin: auto;
}

form {
  background: #45545500;

  margin: auto auto 2vh auto;
  color: var(--teal)
}

fieldset {
  border: none;
  border-bottom: 1px solid var(--just_pale);
  width: 100%;
  margin: auto;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  color: var(--just_pale);
  margin-top: 2em;
  margin-bottom: 2px;

}

label.agree {
  margin: auto;
  text-align: left;
  width: 20em;
  color: aqua;

}

input,
textarea,
select {
  min-height: 2em;
  background-color: rgb(1, 33, 39);
  color: var(--light_gold);
  border: none;
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 20px;

}

input[type="submit"] {
  background-color: none;
}

input[type="file"] {
  padding: 10px 10px;

}


option {
  font-size: 15px;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.web-eval {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%
}

.web-eval li {
  list-style: none;
  text-align: left;
  margin-bottom: 2em;
}
@media screen and (max-width: 800px) {
  
  .info{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    padding: initial;
  }
  .outer_card{
    width: inherit;
    height: inherit;
  }
}

/***contrac******************************************/
.contract {
  width: 60%;
  margin: auto;

}

.contract p {
  text-align: justify;
}

p>a {
  color: var(--gold);
  border-color: rgba(215, 225, 225, 0);
  border-style: solid;
}

p>a:hover {
  color: var(--teal);
}

.web-eval p {
  color: var(--gold);
}

.text-divider {
  color: var(--teal);
  text-shadow: 2px 1px 4px #5faca5;
}

.submitForm {
  display: block;
  margin: 10px auto;
  background-color: rgba(223, 235, 245, 0.137);
}

button {
  display: inline;
  margin-top: 10px;
  background: rgba(2, 194, 143, 0);
  padding: 10px;
  color: var(--just_pale);
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  border: var(--button_border);
}

button:hover {
  box-shadow: var(--button_glow);
  cursor: pointer;
}

button:active {
  color: var(--teal);

}

.projectDoc {
  text-align: left;
  margin: auto;
  width: 70%;
  padding: 1px 2.5em 2.5em 2.5em;
  line-height: 2;
  background-color: rgba(252, 252, 252, 0.096);
  font-size: 22px;
}

.projectDoc li {
  padding: 10px;

}

.wireframe {
  margin: inherit;
  text-align: center;
}

span {
  font-weight: bold;
  color: var(--gold);
  margin-right: 1vw;
}

/*form***********************************************************/
#agree{
  display: block;
  margin: auto;
}
/*CALCULATOR*/
.calculator{
  position: relative;
  margin: auto;
  grid-template-columns: auto auto auto;
  border: 1px solid rgba(249, 243, 243, 0.748);
  padding: 20px;
  border-radius: 30px;
  height: fit-content;
  width: fit-content;
}
.calc-buttons{
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 30px;
}
#math-buttons{
  grid-row-start: 1;
}
#equal{
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}
#numbers{

  display: grid;
  grid-row-start: 2;
  grid-template-columns: auto auto auto;

}

.screen input{
  background-color: #dee6e6;
  height: 15vh;
  text-align: right;
  

}
.employee-dropdown{
  padding: 10px;
}

.employee-dropdown-data{
  display:none;
}

.employee-list{
  list-style: none;
  text-align: left;
  line-height: 1.5;
 
}
 .employee-dropdown:hover .employee-dropdown-data{
  display: block;
}
.employee-list > li:hover{
  color: var(--teal);
  cursor: pointer;
}

.array-page-item1{
  float: left;
  position: absolute;
  top:300px;


  
}

 @media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .info{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
  .outer_card{
    width:90vw;
  }
}
.project{
  color: rgb(245, 184, 32);
}

.noListStyle ul{
  list-style:none ; 
  line-height: 1;
}

/*gallery*/
.slides { display: none; }
.active { display: block; }

.text{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--teal);
  font-size:2rem;
}
.prev,.next{
  font-size: 2rem;
}
.nameList{
  margin: auto;
  text-align: left;
}