:root {
  --gold: rgb(245, 207, 138);
  --light_gold:rgb(216, 198, 164);
  --just_pale:rgb(250, 234, 206);
  --background: linear-gradient(to right, rgb(7, 14, 16), rgb(2, 17, 20), rgba(0, 60, 77, 0.897));
  --whitish_blue:rgb(215, 225, 225);
  --button_glow:0px 0px 5px 0px rgb(255, 255, 255);
  --transparent-enough:  rgba(232, 236, 236, 0.068);
  --teal:  rgb(134, 202, 160);
  --button_border:2px solid rgba(106, 119, 117, 0.322);
  font-family: 'Bitter' Tahoma, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(215, 225, 225);
  
  
}

h1 {  font-size: 40px;color: var(--gold);}
h2 { font-size: 30px; color: var(--teal);}
h3{ font-size: 26px; color:var(--teal);}
p { font-size: 20px; line-height: 1.5em; color:var(--whitish_blue);}
a{ color:  rgb(240, 228, 209); text-decoration: none;}

/*body*********************************************************/
body {
  background-image:
    linear-gradient(to right, rgb(7, 14, 16), rgb(2, 17, 20), rgba(0, 60, 77, 0.897));
  text-align: center;
}

/*Nav*********************************************************/
nav {
  min-height: 30px;
  margin:auto;
  color: var(--teal);
  margin: auto;
  height: fit-content;
  padding:2px;
  
}
.secondary-nav{
  margin-top: 5px;
}
ul {
  list-style-type: square;
}
/*footer*********************************************************/
nav>a, .secondary-nav>a
{
  font-weight: 400;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  color:var(--whitish_blue);
  font-size: 1.1em;
  padding-bottom: 5px;
  border-bottom: solid rgba(255, 255, 255, 0);
}
nav>a:hover,p>a:hover, footer>a:hover
{
  color: var(--gold);
}
nav>a:active, footer>a:active{
  color: var(--teal);
}
footer
{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(6, 24, 21, 0.155);
  height: fit-content;
  margin-top: 60px;
}
footer>a{
  margin: 10px;
}

/*figure*************************************************/
figure {
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.903), 0 6px 20px 0 rgb(0, 0, 0);
  width:40vh;
  height: 40vh;
  padding-bottom:60px ;
  padding-top: 10px;
}
.intro-picture{
  background: var(--whitish_blue);
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
figure img {
  width: 40vh;
  height: auto;
}
figcaption {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 1rem;
  padding-top: 1em;
  color: #01242b;
}
/**container***************************/
.about-me {
  display: flex;
  flex-direction: column;
}

.question p {
  font-weight: 800;
  color: var(--gold);
}

.outer_card {
  box-shadow: 1px -1px 9px 1px rgba(6, 5, 1, 0.985);
  background-color: var(--transparent-enough);
  text-align: left;
  padding: 15px;
  margin: 10px;
  width: 75vh;
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*quick format***********************************************/

.indent {
  padding-left: 15px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/*table****************************************************/
 .data ul{
  margin: auto;
  display: inline-block;
  text-align: left;
  line-height: 1.5;
}
table {
  text-align: left;
  background-color: black;
  border-style: solid;
}
.updated-table {
  text-align: left;
}
th,
td {
  padding: 15px;
}
figure .updated-table{
  margin: auto;
}
.updated-table{
  margin: auto; 
}
.updated-table th {
  background-color: black;
  color: beige;
}
.updated-table tr:nth-child(even) {
  background-color: #c8dee0d8;
  color: black;
}
.updated-table tr:nth-child(odd) {
  background-color: rgb(245, 238, 233);;
  color: black;
}
.simple-table {
  margin: auto;
}

form{
  background: #45545500;
  width: 33%;
  margin:auto;
  color:var(--teal)
}

fieldset{
  border:none;
  border-bottom: 1px solid var(--just_pale);
  width: 100%;
  margin: auto;
}

fieldset:last-of-type {
  border-bottom: none;
}
label {
display: block;
color: var(--just_pale);
}
input,
textarea,
select {

  margin: .5em auto;
  min-height: 2em;
  background-color: rgb(1, 33, 39);
  color:var(--light_gold);
  border:none;
  font-size: 18px;
  padding-left:10px;
  
}
input[type="submit"] {
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #dedeeb;
  border-color: rgb(0, 0, 0);
  min-width: 300px;
}
option{
  font-size: 15px;
}
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.web-eval{
  display:flex;
  flex-direction: column;
  margin:auto;
  width:50%
}
.web-eval li{
  list-style: none;
  text-align: left;
  margin-bottom: 2em;
}
/***contrac******************************************/
.contract{
  width: 60%;
  margin:auto;

}
.contract p{
 
  text-align: justify;
}
p > a{
  color:var(--gold);
  border-color: rgba(215, 225, 225, 0);
  border-style: solid;
}
p>a:hover{
  color: var(--teal);
}
.web-eval p{
  color:var(--gold);
}
.text-divider{
  color: var(--teal);
}

button{
  margin:10px;
  background: rgba(2, 194, 143, 0);
  padding: 10px;
  color: var(--just_pale);
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  border: var(--button_border);
}
button:hover{
  box-shadow: var(--button_glow);
  cursor: pointer;
}
button:active{
  color: var(--teal);

}
.projectDoc{
  text-align: left;
  margin: auto;
  width:70%;
  padding: 1px 2.5em 2.5em 2.5em;
  line-height: 2;
  background-color: rgba(252, 252, 252, 0.096);
  font-size: 22px;
}
.projectDoc li{
  padding: 10px;
  
}
.wireframe{
  margin:inherit;
  text-align: center;
}

/*form***********************************************************/