:root{
  --small-margin: 5px;
  --medium-margin: 10px;
  --large-margin:20px;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
 
  height: 100vh;
  width: 100vw;
  background-image: url('../images/profile.png'), linear-gradient(to right, rgb(7, 14, 16), rgb(2, 17, 20), rgba(0, 60, 77, 0.898));
  background-repeat:no-repeat;
  background-position : 0px 50px;
  background-color: rgb(1, 14, 16);
}

main
{
height:inherit;
margin-top: 50px; 
background-color: rgba(10, 10, 10, 0.822)
}
h3
{
  color: darkgoldenrod;
}
p{
  font-size: 20px;
}

footer 
{
  background-color: rgb(1, 14, 16);
  position: fixed;
  left: 0;
  bottom: 0;
  height:fit-content;
  width: 100%;
  color: white;
  text-align: center;
  margin:auto;
  padding: 5px;
}
footer a{
  line-height: 2;
  text-decoration: none;
  color:rgb(110, 228, 228);
  padding: 8px;
}
footer a:hover{
  color: goldenrod;
 
}

.logo{
  display: flex;
  color: rgba(255, 255, 255, 0.932);
  margin-left: 20px;
  background-color: rgba(167, 167, 167, 0.164);
  display: inline;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  padding: 10px;
  border: 1px solid rgb(245, 233, 203);
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  background-color: rgb(1, 14, 16);
  padding:2px;
}
nav > ul>li a{
color:rgb(250, 199, 71);
font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 20px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #3a5551;
  border-radius: 10px;
  color: #2a3d3b;
  background-color: rgba(240, 248, 255, 0.781);
}


.content-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 50px;flex-shrink: inherit;
}

.left-content{
  margin: auto;
  display: flex;
  flex-direction: row;
  
 
}
.right-content{
  display: flex;
  margin: auto;
 

}
.profile-img {
  position: absolute;
  z-index: 1;
  background-color:rgb(46, 42, 42);
  width: 15vw;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px white, 
  0 6px 100px 0 white;
  margin-top: 5px;
}
.dot {
  position: inherit;
  background-color: #65706f;
  z-index: -1;
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0), 
  100px 100px 100px 100px rgb(0, 0, 0);
}
.name {
  color: rgb(255, 255, 255);
  font-size: 100px;
  
}

.title
{
  font-size: 40px;
  margin-left: 10px;
}
.id{
position: relative;
top: 250px;
}
.introduction h3{
  color:rgb(250, 199, 71);
}

.home  h1{
  color: aliceblue;


}

@media (max-width: 900px) {
  .name {
   margin-top: 10px;
  font-size: 2rem;
  display: inline;
  }
  .line{
    display: none;
  
  }
  main{
    height: fit-content;
  }
  .introduction{
    position: relative;
    top: 65px;
    min-width: 400px;
   
  }
  .title
  {
    font-size: 2rem;
    display: inline;
 
  }
  .id{
  position: absolute;
  top: 100px;
  }
  nav{
    z-index: 1;
  }
  .about-para{
    text-align: left;
    min-width: 450px;
  }

  .skills-container{
   
    align-items: center;
  justify-content: center;
  width: min-content;
  }

}


.skills-container {
  display:flex;
  flex-wrap: wrap;
  color: aliceblue; 
  min-width: 300px;
  
}

.skills-container>div {
  display: flex;
  align-items: center;
  justify-content: center;
  /*box-shadow: 0 1px 0px 1px rgba(196, 221, 221, 0.966);*/
  margin: 10px;
  height: 100px;
  color:azure;
  text-align: center;
  min-width: 200px;
  border: 2px solid rgba(207, 207, 207, 0);
  background-color: rgba(165, 165, 165, 0.175);
 
}


@media (max-width: 900px) {

  .profile-img {
    position: fixed;
    top: 0px;
    left: 25px;
    width: 60px;
    border-radius: 0px;
  }
  .dot {
    display: none;
  }
 
}


.row{
  display: flex;
  flex-direction: row;
}
.about-para{
  padding:50px;
  color: azure;
  line-height: 2;
  width:40%
}

.introduction{ 
  display: flex;
  flex-direction: column;
  color: rgb(224, 224, 223);
  margin: auto;
  padding: 50px;
  width: 80%;
  line-height: 2;
  border-radius: 100px;
}
.indent{
  margin-left:30px ;
}

.read-more{
  position: relative;
  z-index: 2;
  padding: 10px;
  width: fit-content;
  margin: 0px auto 30px auto;
  border-radius: 5px;
  background-color: transparent;
  color: aliceblue;
  border: 1px solid rgb(92, 92, 92);
}
a{
  margin: auto;
  text-decoration: none;
}


.read-more:hover, #intro-pop button{
  border: 1px solid rgb(255, 255, 255);
  color:rgb(255, 213, 108);
  cursor:pointer;

}

.webinar-container{

  width: fit-content;
  display:flex;
  flex-wrap: wrap;
  margin: auto auto auto auto;
  grid-template-columns: auto auto auto auto ;
  justify-content: center;
  
  
}
.webinar-container> div{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  border: 2px solid darkgoldenrod;
  width:300px;
  height: 180px;
  min-width: 150px;
  margin: 5px;
  padding: 20px;
  background-color: rgba(1, 18, 20, 0.859);;

}

.webinar-container> div a{
  text-decoration: none;
  color:azure;
  font-weight: bold;
  font-size: large;
}
.webinar-container> div:hover  {
  border-radius: 10px;
  color: black;
  background-color: rgba(240, 248, 255, 0.5);
  border: 2px solid #2a3d3b;
}

.webinar-container button{
  display: none;
  padding: 10px;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  background-color: transparent;
  color: aliceblue;
  border: 2px solid rgb(92, 92, 92);
  font-weight: bold;
}
.webinar-container button:hover{
border: 2px solid white;
cursor: pointer;
}

.webinar-container>div a:hover{
  color: rgb(0, 0, 0);
  background-color: transparent;
}

.webinar-container:hover button{
  color:rgb(255, 255, 255);
  display: block;

}
footer  a:hover{
  color:rgb(0, 255, 255, 0.479);
}

/*test*/
.one { grid-area: one; width:20%;}
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; height: 30px; }



.grid{
  display: grid;
  grid-template-areas:
    'one two two four four'
    'one two two three five'
    'one six six three five'
    'one six six three five'
    'one six six three five'
    'seven seven seven seven seven';
  gap: 10px;
  padding-top: 30px;
  height:100vh;
}

.layout > div {

  text-align: center;
  font-size: 30px;
}
.column
{
  display: flex;
  flex-direction: column;
}
.large-padding{
  padding: 100px;
}
.line{
  background-color: darkgoldenrod;
  width: 500px;
  height: 2px;
  box-shadow: 10px 5px 15px 0px rgb(255, 255, 255);
}




#intro-pop{
  position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  z-index: 1;
  margin: auto;
  padding: 50px;
  background-color: rgba(2, 28, 32, 0.852);
  border: 2px solid darkgoldenrod;
  box-shadow: 0px 0 100px 0 rgba(255, 255, 255, 0.56);
  color: aliceblue;
  line-height: 2;
  width: 90vw;
}

#intro-pop h3, #intro-pop h4, #intro-pop p{
  margin-bottom: var(--medium-margin);
  font-size: larger;
}
#intro-pop button{
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid rgb(92, 92, 92);
  display: block;
  margin: auto auto;

}
.closeButton{
   position: absolute;
  top: var(--medium-margin);
  right: var(--medium-margin);
}