<footer>
    
    <p><a href="https://www.linkedin.com/in/davidfrazee/">Linkedln</a></p>
    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
      </script> 
        <a id="validation_link_html" href="https://validator.w3.org/check?uri=referer">
        <img style="border:0;width:20px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png" alt="Valid HTML!"></a>
        <a id="validation_link_html" href="https://jigsaw.w3.org/css-validator/check/referer">
          <img style="border:0;height: 20px;" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" alt="Valid CSS!"></a>
</footer>