<footer>
      <a href="https://webpages.charlotte.edu/lfrazee1/">CLT Webpage</a>
      ▪
      <a href="https://github.com/LaurenFrazee/LaurenFrazee.github.io/tree/main/itis3135">GIT Repo</a>
      ▪
      <a href="https://laurenfrazee.github.io/">GIT Page</a>
      ▪
      <a href="https://www.freecodecamp.org/fcc1b664720-127a-4b70-a3b2-33747a1232d6">FreeCodeCamp</a>
      ▪
      <a href="https://www.codecademy.com/profiles/design5914909891">CodeAcadamy</a>
      ▪
      <a href="https://www.linkedin.com/in/lauren-frazee-39168b222/">Linkedin</a>
      
      <p>Designed by <a href="frazeeltd.com/index.html">FrazeeLTD&copy </a> </p>

  <script>
    document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
  </script> 
    <a id="validation_link_html" href="https://validator.w3.org/check?uri=referer">
    <img style="border:0;width:50px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png" alt="Valid HTML!"></a>
    <a id="validation_link_html" href="https://jigsaw.w3.org/css-validator/check/referer">
      <img style="border:0;height: 50px;" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" alt="Valid CSS!"></a>