<header>
    <a id="validation_link_html" href="#"></a>
    <h1> Lauren Frazee's Lucid Fox <span class="text-divider">⌁</span> ITIS 3135</h1>
        <nav> 
            <a href="index.html">Home</a>
            ▪
            <a href="introduction.html">Introduction</a>
            ▪
            <a href="contract.html">Contract</a>
            ▪
            <a href="tables.html">Tables</a>
            ▪
            <a href="forms.html">Form</a>
            ▪
            <a href="website_evaluations.html">Site Evaluations</a></li>
            ▪
            <a href="firstscripts.html">1st Javascript</a></li>
            ▪
            <a href="emmet.html">Emmet</a>
            ▪
            <a href="byo_intro.html">BYO Page</a>
            ▪
            <a href="interactivedrawing.html">Interactive Drawing</a>
            ▪
            
            <a class="project"href="project.html">Project</a>
            ▪
            <a class="project" href="project/index.html">Project pt.1</a>
            ▪
            <a href="review1.html">Review 1</a>
            ▪
            <a href="review2.html">Review 2</a>
            ▪

        </nav>
        
</header>